- administration_nav_item_disabled = Feature.disabled?(:group_administration_nav_item, @group)

- if Gitlab::Auth::Ldap::Config.group_sync_enabled? && can?(current_user, :admin_ldap_group_links, @group)
  = nav_link(path: 'ldap_group_links#index') do
    = link_to group_ldap_group_links_path(@group), title: 'LDAP Group', class: 'qa-ldap-synchronization-link' do
      %span
        LDAP Synchronization

- if show_saml_in_sidebar?(@group) && administration_nav_item_disabled
  = nav_link(path: 'saml_providers#show') do
    = link_to group_saml_providers_path(@group), title: _('SAML SSO'), data: { qa_selector: 'group_saml_sso_link' } do
      %span
        = _('SAML SSO')

- if show_saml_group_links_in_sidebar?(@group)
  = nav_link(path: 'saml_group_links#index') do
    = link_to group_saml_group_links_path(@group), title: s_('GroupSAML|SAML Group Links') do
      %span
        = s_('GroupSAML|SAML Group Links')

- if @group.feature_available?(:group_webhooks) || show_promotions?
  = nav_link(path: 'hooks#index') do
    = link_to group_hooks_path(@group), title: 'Webhooks' do
      %span
        Webhooks

- if @group.feature_available?(:audit_events)
  = nav_link(path: 'audit_events#index') do
    = link_to group_audit_events_path(@group), title: 'Audit Events', data: { qa_selector: 'audit_events_settings_link' } do
      %span
        Audit Events

- if show_usage_quotas_in_sidebar? && @group.parent.nil? && administration_nav_item_disabled
  = nav_link(path: 'usage_quotas#index') do
    = link_to group_usage_quotas_path(@group), title: s_('UsageQuota|Usage Quotas') do
      %span
        = s_('UsageQuota|Usage Quotas')

- if show_billing_in_sidebar? && administration_nav_item_disabled
  = nav_link(path: 'billings#index') do
    = link_to group_billings_path(@group), title: _('Billing') do
      %span
        = _('Billing')
